body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f0;
    color: #1a2421;
    line-height: 1.6;
}

/* Link-ul pentru accesibilitate */
.skip-link {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #31c99c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    z-index: 1000;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #064e3b, #059669);
    color: white;
    border-bottom: 5px solid #f59e0b;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

/*Navigation*/
nav {
    background-color: white;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky; /* Rămâne lipit sus la scroll */
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;

}

nav a:hover {
    background-color: #ecfdf5;
    color: #059669;
    border-radius: 8px;
}

/* Main structure*/
main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    background: white;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 15px;
    border-left: 8px solid #f59e0b; /* Linia portocalie din stânga */
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Stil diferit pentru secțiunile pare */
section:nth-child(even) {
    background-color: #f9fafb;
    border-left-color: #059669; /* Linie verde la secțiunile pare */
}

article {
    margin: 20px 0;
    padding: 20px;
    border-left: 4px solid #059669;
    background-color: #fcfdfd;
}

/* Tipografie */
h2 {
    color: black;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h3 {
    color: #b45309;
}

code {
    background-color: #fef3c7;
    color: #92400e;
    padding: 2px 5px;
    font-family: monospace;
}

/* Tabele */
table {
    width: 100%;
    border-collapse: collapse; /* Lipeste marginile celulelor */
    margin: 20px 0;
}

th {
    background-color: black;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Formular */
fieldset {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

button {
    width: 100%;
    padding: 15px;
    background: #059669;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;    
    cursor: pointer;
}

button:hover {
    background: #064e3b;
}

/* Footer */
footer {
    text-align: center;
    padding: 40px;
    background-color: #111827;
    color: #9ca3af;
    border-top: 5px solid #f59e0b;
}

